<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sortObject"
		class="com.learn.impressico.logic.SelectionSort">
	</bean>


	<bean class="com.learn.impressico.logic.Jatin" autowire="byType">
		<property name="name" value="Jatin Programmer" />
		<property name="age" value="25" />
		<property name="courses">
			<list>
				<value>Java</value>
				<value>C++</value>
				<value>Python</value>
			</list>
		</property>

		<property name="friends">
			<set>
				<value>Ram</value>
				<value>Sita</value>
				<value>Shyam</value>
			</set>
		</property>

		<property name="marks">
			<map>
				<entry key="computer" value="80" />
				<entry key="math" value="100" />
				<entry key="chemistry" value="95" />
				<entry key="physics" value="88" />
			</map>
		</property>



	</bean>
	

</beans>